.task{
  color: white;
  background-color: rgba(30,144, 255);
  height: 2rem;
  width: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 1rem;
}


.task span{
  font-size: 1.5rem;
  font-weight: bold;
  align-self: flex-end;
  transform: rotate(45deg);
  margin-left: auto;
  cursor: pointer;
  

}
.taskList{
  height: 90vh;
  display: flex;
  flex-direction: column;
  
}

@media screen and (max-width: 450px){
  .task{
    width: 80vw;
  }
}