.header {
  box-sizing: border-box;
  height: 10vh;
  width: 100vw;
  background-color: rgba(0,0,0);
  color:  rgba(30,144, 255);
  display: flex;
  align-items: center;
  padding: 0 0.8rem 0 0.5rem;
  font-size: 0.8rem;
  font-family: 'Courier New', Courier monospace;
  box-shadow: 0 0.1rem 0.2rem rgba(30,144, 255);
  
}


.dotBox{
  height: auto;
  width: auto;
  margin-left: auto;
  cursor: pointer;
}

.dot{
  height: 0.3rem;
  width: 0.3rem;
  background-color: rgba(30,144, 255);
  margin-top: 0.25rem;

}

