.inputContainer{
  position: absolute;
  bottom: 0;
}
.inputContainer input{
  height: 7vh;
  width: 30vw;
  text-align: center;
}
.inputContainer input:focus{
  outline:none;
}

.inputContainer input::placeholder{
  font-style: italic;
}

.inputContainer button,
.inputContainer button:focus
{
  height: 8vh;
  width: auto;
  border: none;
  padding: 0.5rem 2rem;
  background-color: rgba(30,144, 255);
  color: white;
  cursor: pointer;
  outline:none;
}
@media screen and (max-width: 450px){
  .inputContainer input{
    width: 60vw;
  }
}